<div class="chart-overlay" *ngIf="isForecastDataShown && foreCastData.length">
  <ngx-charts-bar-vertical
    [view]="chartSettings.view"
    [scheme]="chartSettings.colorScheme"
    [results]="foreCastData"
    [gradient]="chartSettings.gradient"
    [xAxis]="chartSettings.showXAxis"
    [yAxis]="chartSettings.showYAxis"
    [showXAxisLabel]="chartSettings.showXAxisLabel"
    [showYAxisLabel]="chartSettings.showYAxisLabel"
    [xAxisLabel]="chartSettings.xAxisLabel"
    [yAxisLabel]="chartSettings.yAxisLabel">
  </ngx-charts-bar-vertical>
</div>
